body {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.line{
    border-bottom: 3px solid;
    border-color: #000000;
    padding: 5px 0;
}

.Contacts{
    margin-top: -20px;
}

.flex {
    flex-direction:column;
    justify-content: center;
    align-items: stretch;
    display: flex;
    background-color: #0f44d6fd;
    border-radius: 20px;
  }
  
  .flex > div {
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    border-radius: 20px;
  }

/* obrazky */
.imgLogo{
    margin-bottom: -15px;
    margin-top: 10px;
    text-align: left;
    width: 180px;  
}
figcaption {
    text-align: center;
    font-size: 20px;
}
.imgOfArea{
    display: flex;
    margin: auto;
    width: 70%;
}

/* article */
.GenGames{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
h1{
    font-size: 40px;
    text-align: center;
}
.h2{
    font-size: 28px;
    text-align: center;
}

.PhotoNews{
    width: 100%;
    float: left;
    margin-right: 15px;
    max-width: 500px;
    height: auto;
    border-radius: 7px;
}
.History{
    width: 100%;
    float: right;
    margin-right: 15px;
    max-width: 500px;
    height: auto;
    border-radius: 7px;
}

/* aside */
.aside{
    display: flex;
    width:49%;
    padding-left: .2rem;
    margin-left: .2rem;
    float: right;
    text-align: left;
    box-shadow: inset 5px 0 5px -5px #d86834;
    font-style: italic;
}
aside > p {
    margin: .2rem;
}
.ContextWithAside{
    font-size: 25px;
    text-align: left;
    width: 1200px;
    margin-right: 30px;
}

/* names */
.name{
    text-align: center;
    text-transform: uppercase;
}

.main_name{
    text-align: left;
    text-transform: uppercase;
    margin-bottom: -10px;
}

.under_main_name{
    font-size: 15px;
    text-align: left;
    text-transform: uppercase;
}

.UpperName{
    text-align: left;
    margin-bottom: 15px;
}

.MainInfo{
    margin-bottom: -20px;
}
/* nav */
.navMain{
    text-decoration: none;
    text-align: center;
    font-size: 21px;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    background-color: #0f44d6fd;
    padding: 2px 1rem;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    margin: 2rem;
}

.navMain:hover {
    background-color: #eeeeee;
    color: #d86834;
}
.navMain:focus {
    outline: none;
    background-color: #d86834;
    color: white;
}
nav {
    margin-top: 1rem;
    text-align: center;
}

/* main */
.Main{
    text-align: center;
    font-size: 40px;
}
.Context{
    font-size: 25px;
    margin: auto;
    text-align: center;
}
.Borde{
    background: #0f44d6fd;
    padding: 5px 0;
    border-radius: 20px;
    margin-bottom: 15px;
}

/* footer */
.footer {
    justify-content: center;
    margin-top: 50px;
    border-top: 2px solid #0f44d6fd;
    background: #0f44d6fd;
    padding: 15px 0;
    text-align: center;
    color: #fffffffd;
    font-size: 18px;
    border-radius: 20px;
}

/* News */
.News{
    display: flex;
    align-items: center;
}

.date{
    margin-top: 5px;
    margin-bottom: -25px;
}

.pict1{
    float: left;
    margin-right: 15px;
    width: 300px;
    height: 200px;
    border-radius: 7px;
    background-color:#0f44d6fd;
    padding: 3px;
    
}
.pict2{
    float: left;
    margin-right: 15px;
    width: 300px;
    height: 200px;
    border-radius: 7px;
    background-color: #0f44d6fd;
    padding: 3px;
}
.pict3{
    float: left;
    margin-right: 15px;
    width: 300px;
    height: 200px;
    border-radius: 7px;
    background-color: #0f44d6fd;
    padding: 3px;
}

.con{
    width: 100%;
    float: left;
    margin-right: 15px;
    max-width: 160px;
    height: 200px;
    border-radius: 7px;
    background-color: #0f44d6fd;
    padding: 3px;
}

/* Click */
.NewsP{
    font-size: 30px;
}
.NewsA:link {
    color: #0f44d6fd;
    background-color: transparent;
    text-decoration: none;
}
.NewsA:visited {
    color: #0f44d6fd;
    background-color: transparent;
    text-decoration: none;
}
.NewsA:hover {
    color: #d86834;
    background-color: transparent;
}
.NewsA:active {
    color: #d85316;
    background-color: transparent;
}

.MainName:link{
    background-color: transparent;
    text-decoration: none;
}
.MainName:visited {
    color: #000000fd;
    background-color: transparent;
    text-decoration: none;
}
.MainName:hover {
    color: #0f44d6fd;
    background-color: transparent;
}
.MainName:active {
    color: #d85316;
    background-color: transparent;
}

.Teacher:link {
    color: #0f44d6fd;
    background-color: transparent;
    text-decoration: none;
}
.Teacher:visited {
    color: #0f44d6fd;
    background-color: transparent;
    text-decoration: none;
}
.Teacher:hover {
    color: #d86834;
    background-color: transparent;
}

/* size */
@media only screen and (min-width: 480px) {
    .Borde{
        padding: 0;
    }
    .navMain{
        width: 30vw;
        height: 100%;
        display: inline-block;
        padding: 1%;
        margin: 0.5% 2%;
    }
}

@media only screen and (min-width: 1000px) {
    body {
        width: 900px;
        margin: auto;
    }
    .Borde{
        width: 900px;
        margin: auto;
    }
    .navMain{
        width: 230px;
        padding: 1%;
        margin: 0.5% 0.2%;
    }

    /* Photos/Grid */
    .Photos {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .inPhoto {
        padding: 0 0px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 15px;
    }
    
    .Photos {
        display: grid;
        grid-template-columns: 385px 385px 385px;
        grid-template-rows: 300px 300px 300px 300px 300px;
        gap: 10px 10px;
        grid-template-areas: 
            "t2 t2 t1"
            "t3 t6 t1 "
            "t7 t7 t8 "
            "t7 t7 t8 "
            "t5 t9 t12 ";         
    }
    .Photo1 {
        grid-area: t1;
        width: 385px;
        height: 600px;
    }
    .Photo2 {
        grid-area: t2;
        width: 770px;
        height: 300px;
    }
    .Photo3 {
        grid-area: t3;
        width: 375px;
        height: 290px;
    }
    .Photo5 {
        grid-area: t5;
        width: 375px;
        height: 290px;
    }
    .Photo6 {
        grid-area: t6;
        width: 375px;
        height: 290px;
    }
    .Photo7 {
        grid-area: t7;
        width: 770px;
        height: 600px;
    }
    .Photo8 {
        grid-area: t8;
        width: 385px;
        height: 600px;
    }
    .Photo9 {
        grid-area: t9;
        width: 375px;
        height: 290px;
    }
    .Photo12 {
        grid-area: t12;
        width: 385px;
        height: 290px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        width: 1150px;
        margin: auto;
    }
    .Borde{
        width: 1150px;
        padding: 0;
        margin: auto;
        
        justify-content: space-between;
    }
    .navMain{
        width: 175px;
        margin: auto;
    }
}