.ns-page-layouts-container {
    position: relative; }
    .ns-page-layouts-container.loading {
      min-height: 300px;
      min-width: 200px; }
  
  .ns-loading-popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); }
    .ns-loading-popup .ns-loading-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 200px;
      margin: -150px 0 0 -100px;
      background: url(../images/spinner.gif);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
    .ns-loading-popup .ns-loading-message {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin-top: 20px;
      text-align: center; }
      .ns-loading-popup .ns-loading-message p {
        display: inline-block;
        padding: 10px;
        background: #fff;
        opacity: 0.8;
        filter: alpha(opacity=80);
      }
  