* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    max-width: 1200px;
    
}

/* obrazky */
.imgLogo{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    width: 180px;  
}


figcaption {
    text-align: center;
    font-size: 20px;
}



/* aside */
.aside{
    width:49%;
    padding-left: .2rem;
    margin-left: .2rem;
    float: right;
    text-align: left;
    box-shadow: inset 5px 0 5px -5px #dd4b4b;
    font-style: italic;
}
aside > p {
    margin: .2rem;
}
.ContextWithAside{
    font-size: 25px;
    text-align: center;
    width: 1500px;
    margin: auto;
    margin-bottom: 30px;
}

/* article */
.GenGames{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
h1{
    font-size: 40px;
    text-align: center;
}
.h2{
    font-size: 28px;
    text-align: center;
}

/* names */
.name{
    text-align: center;
    text-transform: uppercase;
}

.main_name{
    text-align: left;
    text-transform: uppercase;
}

.under_main_name{
    font-size: 15px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* nav */
.navMain{
    text-decoration: none;
    text-align: center;
    font-size: 21px;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    background-color: #0f44d6fd;
    padding: 2px 1rem;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    margin: 2rem;
}
.navMain:hover {
    background-color: #eeeeee;
    color: #d86834;
}
.navMain:focus {
    outline: none;
    background-color: #d86834;
    color: white;
}
nav {
    margin-top: 1rem;
    text-align: center;
}

/* main */
.Main{
    text-align: center;
    font-size: 40px;
}
.Context{
    font-size: 25px;
    margin: auto;
    text-align: center;
}
.Borde{
    background: #0f44d6fd;
    padding: 5px 0;
    border-radius: 20px;
}


/* footer */
.footer {
    justify-content: center;
    margin-top: 50px;
    border-top: 2px solid #0f44d6fd;
    background: #0f44d6fd;
    padding: 15px 0;
    text-align: center;
    color: #fffffffd;
    font-size: 18px;
    border-radius: 20px;
}

/* search */
form {
    position: relative;
    width: 300px;
    margin-left: 0;
}

input{
    width: 100%;
    height: 42px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    border: 2px solid #0f44d6fd;
    background: #ffffff;
    color: #0f44d6fd;
}

button{
    position: absolute; 
    top: 0;
    right: 0px;
    height: 42px;
    width: 42px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    border: none;
    background: #0f44d6fd;
}

button:before{
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #ffffff;
}